.calc-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 1024px;
    margin: 0 auto;
}

// type
.calc-type{
    display: flex;
    flex-direction: column;
    gap: 32px;

    margin-bottom: 32px;
    
    width: 100%;
    max-width: 1014px;


    @include tablet{
        flex-direction: row;
    }
}

.calc-type-label{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    font-weight: 500;

    border: $calc-type-border;

    transition: $transition;

    cursor: pointer;

    @include tablet {
        width: 100%;
        max-width: 491px;
        
    }
    &.active{
        color: $white-text;
        background-color: $calc-type-active-bg;
    }
    & input{
        display: none;
    }

}

// form
.calc-form{
    padding-top: 32px;
    padding-bottom: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 796px;

    overflow: hidden;
}

.calc-form-title{
    text-align: center;
}

// step
.calc-step-wrapper{
    display: flex; 
    justify-content: center;
    align-items: center;  

    transition: $transition; 

}

.step-btn{
    font-family: "Russo One", sans-serif;

    width: clamp(40px, 0.6rem + 9vw, 112px);
    height: clamp(40px, 1.6rem + 2.5vw, 60px);

    padding: 0;

    border-radius: 40px;
    border: 1px solid $calc-step-non-active;

    color: $calc-step-non-active;

    background-color: transparent;

    transition: $transition;

}
.calc-svg-wrapper{
    position: relative;
    

    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: clamp(16px, 4vw, 20px);

    @media screen and (min-width: 620px) { 
        width: clamp(20px, -1.2rem + 9vw, 72px);

        &::after{
            content: '';
            position: absolute;
            left: -2px;
            top: 50%;

            transform: translateY(-50%);

            width: 100%;
            height: 3px;

            border-radius: 20px;
            background-color: $calc-step-non-active;
            color: #fff;

            transition: $transition;


        }
    }
}

.step-active {
    & .step-btn{
        background-color: $calc-step-active-bg;
        border: 1px solid $calc-step-active-bg;
        color: $calc-step-active-text;
        cursor: pointer;
    }
    & .calc-svg-wrapper::after{
        background-color: $calc-step-active-bg;
    }
    & .mobile-arrow-step-svg{
        color: $calc-step-active-bg;
    }
}

// select

.calc-select-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    width: 100%;

    // transform: translateX(0);
    // transition: $transition;
    // &.hide{
    //     transform: translateX(-100%);
    // }


    &.step-two{
        @include tablet{
            flex-direction: row;
        }
    }

}

.calc-select-label{
    display: flex;
    flex-direction: column;
    position: relative;

    width: 100%;
    max-width: 400px;
    
    &-text{
        color: $input-label-text;
        font-weight: 500;
        margin-left: 24px;
        margin-bottom: 12px;
    }
}

.calc-select-input-wrapper{
    position: relative;
}

.calc-select-input-icon{
    position: absolute;
    
    top: 50%;
    right: 24px;

    transform: translateY(-50%);
    transition: $transition;

    // z-index: 2;

    &.open{
        transform: translateY(-50%) rotateX(180deg);
    }    

}

.calc-select-input{
    // position: relative;
    width: 100%;
    padding: 16px 60px 16px 24px;
    border-radius: clamp(16px, 0.4rem + 1.5vw, 20px);

    border: none;
    outline: none;

    cursor: pointer;

    // z-index: 2;

    &::placeholder{
        color: $input-placeholder-text;
    }

}

.calc-select-dropdown{
    display: none;
    position: absolute;
    top: 76px;
    left: 0;

    width: 100%;
    padding-top: 20px;

    
    background-color: $white;

    border-bottom-left-radius: clamp(16px, 0.4rem + 1.5vw, 20px);
    border-bottom-right-radius: clamp(16px, 0.4rem + 1.5vw, 20px);

    overflow: hidden;

    z-index: 1;



    &.open{
        display: block;
    }
}

.calc-select-dropdown-item{
    padding: 16px 24px 16px 24px;
    color: $input-select-text;

    transition: $transition;

    &:hover{
        background-color: #FFD74A;
    }
}

.calc-next-step{
    width: 100%;

    max-width: 400px;

    @include tablet{
        max-width: max-content;
    }
}


// --------------------------------- step two --------------------
.step-two-item{
    cursor: pointer;
}

.step-two-picture{
    overflow: hidden;

    width: clamp(324px, 17.125rem + 12.5vw, 424px);
    height: 100%;

    margin-bottom: 12px;

    border: 2px solid transparent;

    transition: $transition;
}
.active .step-two-picture {
    border: $calc-step-two-border-active-img;
}

.step-two-picture-descr{
    text-align: center;
    transition: $transition;
}
.active .step-two-picture-descr{
    color: $calc-step-two-active-text;
}

// --------------------------------- step three --------------------


