.services-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 44px;
  align-items: center;
}

.services-item:not(:last-child) {
  margin-bottom: 44px;
}


@media screen and (min-width: 1200px) {
  .services-list {
    grid-gap: 68px;
  }
  .services-item:nth-child(odd) {
    display: flex;
    flex-direction: row-reverse;
    gap: clamp(24px, 2vw, 48px);
  }
  .services-item:nth-child(even) {
    display: flex;
    flex-direction: row;
    gap: clamp(24px, 2vw, 48px);
  }
.service-descr {
    width: clamp(350px, 100%, 567px);
}

.services-btn {
    border: $btn-secondary-accent-border;
    color: $btn-secondary-desktop-text;
    width: 200px;
    margin-top: 44px;
}
.services-btn:hover, .services-btn:focus {
    background: $btn-secondary-accent-bg;
    color: $btn-secondary-accent-text;
    transition: transition;
}

.service-title {
  margin-top: 0;
}
.service-descr {
  background-color: $card-bg;
  border-radius: 24px;
  padding: 32px;
}
.services-img {
  width: 777px;
}
}

.services-img {
  width: clamp(21.875rem, -4.688rem + 106.25vw, 75rem);
}

.mb-16-to-24 {
  margin-bottom: clamp(16px, 0.75rem + 1vw, 24px);
}

.services-btn {
  margin-top: 32px;
  border: $btn-secondary-border;
  border-radius: 12px;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.services-btn:hover, .services-btn:focus {
    background: $white-text;
    color: $btn-primary-disable-bg;
    transition: $transition;
}
.service-title {
  margin-top: 24px;
}
.service-title:hover, .service-title:focus {
 color: $hover-accent-text;
    transition: $transition;
}