h1{
    font-size: clamp(28px, 1.1rem + 1.8vw, 44px);
    line-height: clamp(32px, 1.2rem + 1.8vw, 48px);
    color: $white-text;
  }
  h2{
    font-size: clamp(24px, 0.9rem + 1.8vw, 40px);
    line-height: clamp(32px, 1.1rem + 1.8vw, 48px);
    color: $white-text;
    
    padding-top: clamp(16px, 0.3rem + 2.5vw, 32px);
    padding-bottom: clamp(16px, 0.3rem + 2.5vw, 32px);
    padding-left: clamp(12px, -0.4rem + 5vw, 56px);
    padding-right: clamp(12px, -0.4rem + 5vw, 56px);
    background-color: $card-bg;
    border-radius: clamp($frame-rad-16,2vw,$frame-rad-24);
  }
  h3{
    font-size: clamp(22px, 0.7rem + 1.8vw, 32px);
    line-height: clamp(28px, 1.1rem + 1.8vw, 36px);
    color: $white-text;
    font-weight: 500;
  }
  h4{
    font-size: clamp(18px, 0.5rem + 2vw, 32px);
    line-height: clamp(24px, 0.8rem + 2vw, 36px);
    color: $white-text;
    font-weight: 500;
  }


  // -------- for component page -------
  .component-title{
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .component-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .component-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
  }