
.container {
  width: 100%;
  margin: 0 auto;

  padding-top: 0;
  padding-bottom: 0;
  padding-left:  clamp(12px, 0.27rem + 1.84vw, 32px);
  padding-right: clamp(12px, 0.27rem + 1.84vw, 32px);

  max-width: 1440px;

  // max-width: clamp(352px, -0.617rem + 97vw, 1376px)

  // @include mobile {
  //   max-width: 376px;
  // }

  // @include tablet {
  //   max-width: 768px;
  // }

  // @include desktop {
  //   padding: 0 32px;
  //   max-width: 1440px;
  // }
}