@font-face {
  font-family: "M PLUS 1p";
  src: url('../../fonts/MPLUS1p-Regular.ttf') ;
    font-weight: 400;
}
@font-face {
  font-family: "M PLUS 1p";
  src: url('../../fonts/MPLUS1p-Medium.ttf') ;
    font-weight: 500;
}

@font-face {
  font-family: "Russo One";
  src: url('../../fonts/Russo_One.ttf') ;
    font-weight: 400;
}


  // @font-face {
  //   font-family: 'Roboto';
  //   src: url('../../fonts/Roboto-Regular.woff') format('woff'),
  //     url('../../fonts/Roboto-Regular.woff2') format('woff2');
  //   font-weight: 400;
  // }