// transition
$transition: all 0.3s ease-out;

// text
$black:#000;
$white:#fff;
$heading-text: #F6F7F7;
$main-text:#C2CDC6;
$btn-text:#171C1A;
$input-select-text:#171C1A;
$about-us-subheader-text:#FFE888;
$inpu-label-text:#E1E6E3;


// buttons
$btn-bg:#FFC935;
$btn-accent-bg:#FFD74A;
$btn-works-bg:#5C7065;

//borders
$pref-border:#73877B;

//background
$card-bg:#283935;
$slider-bg:#3C4942;
$main-bg:#182825;



