<!DOCTYPE html>
<html lang="uk-UA">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="M-Group"
  />
  <meta name="language" content="Ukrainian (Ukraine)"/>
  <meta http-equiv="content-language" content="uk_UA"/>
  <meta name="theme-color" content="#F4FFFE"/>
  <link rel="icon" href="./img/favicon.ico" type="image">

  <title>M-Group</title>
</head>
<body>
  <header id="header">
    drilling 12
  </header>

  <main>
    <section class="hero">
      <div class="container flex jc-sb al-c">
      </div>
    </section>
    <section class="" >
      <div class="container">
      </div>
    </section>

    <section class="" >
      <div class="container">
      </div>
    </section>
  </main>

  <footer class="footer">
    <div class="container">
    </div>
  </footer>
</body>
</html>



