html,
body {
  font-family: "M PLUS 1p", sans-serif;;
  // background-color: $main_bg;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.33333;
  // color: $main-text;
  
  margin: 0 auto;
  width: 100%;

  scroll-behavior: smooth;

  overflow-x: hidden;

}


.flex {
  display: flex;
}
.wrap{
  flex-wrap: wrap;
}
.jc-sb{
  justify-content: space-between;
}
.ai-c{
  align-items: center;
}




.m-a{
  margin: auto;
}

.mt-69{
  margin-top: 69px;
}

.mb-12{
  margin-bottom: 12px;
}




