header{
    position: relative;
    z-index: 11;
    margin: 0 auto;
}


.header-backround{
    background-color: $card-bg;
    border-bottom-left-radius: clamp($frame-rad-16,2vw,$frame-rad-24);
    border-bottom-right-radius: clamp($frame-rad-16,2vw,$frame-rad-24);

    padding-top: 16px;
    padding-bottom: 16px;

    @include tablet{
        padding-top: clamp(12px, 2.3vw, 32px);
        padding-bottom: 0;
        background-color: transparent;
        border-radius: 0;
    }
}
//   clamp(min, current, max)
//   window 1440px / max font-size = 44px
//   1vw = 14.4px
//   44px / 14.4px = 3.05vw


.header-navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;

    //
    position: relative;
    z-index: 11;

    @include tablet{
    padding-top: 16px;
    padding-bottom: 16px;
      padding-left: clamp(12px, -0.4rem + 4vw, 56px);
      padding-right: clamp(12px, -0.4rem + 4vw, 56px);
    }


}

.nav-list{
    display: none;

    @include tablet{
        display: flex;
        gap: clamp(12px, -3.877rem + 9.64vw, 44px);
    }
   
}


.header-link-phone{
    display: none;
    opacity: 1;

    transition: $transition;

    @include tablet{
        display: inline-block;
    }
}
.nav-popup-phone{
    position: absolute;
    top: -10px;
    left: 56px;
    display: flex;
    opacity: 0;
    z-index: -2;

    transition: $transition;
    @include tablet{
    &:hover{
        opacity: 1;
        z-index: 1;
    }
}

}         
    .nav-phone-container{
        position: relative;
        opacity: 1;
        cursor: pointer;
        
            @include tablet{
                &:hover .header-link-phone{
                    opacity: 0;
                    pointer-events: none;
                }

                &:hover .nav-popup-phone{
                    opacity: 1;
                    z-index: 1;

                }
            }

       
    }  



.burger-button{
    position: relative;
    width: clamp(32px, 0.37rem + 6.52vw, 56px);
    height: clamp(32px, 0.37rem + 6.52vw, 56px);

    padding: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    color: $white-text;

    transition: $transition;

    outline: none;
    border: none;

    cursor: pointer;

    &:hover,&:focus{
        color: $hover-accent-text
    }
    &:active{
        color: $active-accent-text;
    }
    
    &-icon{
        position: absolute;
        top: 0;
        left: 0;

        width: clamp(32px, 0.37rem + 6.52vw, 56px);
        height: clamp(32px, 0.37rem + 6.52vw, 56px);

        stroke: currentColor;

        transition: $transition;

    }

    @include tablet{
        display: none;
    }



}

.burger-button-icon.btn-hide{
    opacity: 0;
}











// .container.green-background{
//     // padding-left: 0;
//     // padding-right: 0;

//     @include tablet{


//     //   padding-left: clamp(12px, -0.4rem + 4vw, 56px);
//     //   padding-right: clamp(12px, -0.4rem + 4vw, 56px);
//       background-color: $card-bg;
//       border-radius: clamp($frame-rad-16,2vw,$frame-rad-24);
//     }
// }
