.last-works-wrapper{
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 1440px){
        flex-wrap: nowrap;
    }
    
}

.last-works-filter-card{
    width: 100%;
    
    @media screen and (min-width: 1440px){
        max-width: 456px;
    }
}

.tabs-container{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}