.swiper-component-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;

  width: 100%;
  // max-width: 888px;
  max-width: 1024px;
  height: 100%;

  position: relative;

  transition: $transition;

  @include tablet{
    &::before{
      content: "";
      position: absolute;
      display: block;
      left: -20px;
      bottom: 51px;
      z-index: 2;
      width: 30px;
      max-width: 30px;
      height: 30px;
      opacity: 1;
      background-color: transparent;
      border-bottom-left-radius: 40px;
      border-left: 20px solid #182825;
      border-bottom: 20px solid #182825;
      transition: $transition;
    }

    &::after{
      content: "";
      position: absolute;
      display: block;
      left: 339px;
      bottom: -20px;
      z-index: 1;
      width: 30px;
      max-width: 30px;
      height: 30px;
      opacity: 1;
      background-color: transparent;
      border-bottom-left-radius: 40px;
      border-left: 20px solid #182825;
      border-bottom: 20px solid #182825;
      transition: $transition;
    }
  }
}

.swiper-component-wrapper.one{
  &::after,&::before,.swiper-pagination-wrapper{
    max-width: 0;
    opacity: 0;
  }
}
.swiper-component-wrapper.two{
  &::after{
    left: 125px;
    max-width: 30px;
  }
  & .swiper-pagination-wrapper{
    max-width: 146px;
  }
}
.swiper-component-wrapper.three{
  &::after{
    left: 197px;
    max-width: 30px;
  }
  & .swiper-pagination-wrapper{
    max-width: 218px;
  }
}
.swiper-component-wrapper.four{
  &::after{
    left: 269px;
    max-width: 30px;
  }
  & .swiper-pagination-wrapper{
    max-width: 290px;
  }
}

.swiper{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  // max-width: 888px;
  max-width: 1024px;
  max-height: 720px;
  min-height: clamp(252px, 3.417rem + 52.33vw, 548px);
  // max-height: clamp(252px, 3.417rem + 52.33vw, 548px);
  // max-height: clamp(252px, -0.059rem + 63.24vw, 682px)

  @media screen and (min-width: 1440px){
    max-width: 888px;
    max-height: 568px;
  }
}

.swiper-component-wrapper .swiper-wrapper{
  height: auto;

  transition: $transition;
  opacity: 1;

  &.hide{
    opacity: 0;
  }
}

.swiper-slide{
  // max-height: 548px;
  // max-height: clamp(252px, 2.17rem + 58.32vw, 730px);

  & img{
    height: 100%;
    width: 100%;
    
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination{
  transition: $transition;
}
.swiper-pagination-bullet {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;

  color: $white-text;
  line-height: 1.4;
  font-size: 20px;

  opacity: 1;
  background-color: $card-bg;

  transition: $transition;
}
.swiper-pagination-bullet-active {
  color: $input-select-text;
  background-color: $white-text;
}

.swiper-pagination-wrapper{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 360px;
  height: 72px;
  
  padding-top: 12px;

  

  overflow: hidden;
  background-color: $main-bg;
  opacity: 1;

  z-index: 2;

  transition: $transition;

  @include tablet{
    position: absolute;
    bottom: -1px;
    left: -1px;

    padding-right: 12px; 

    border-top-right-radius: clamp(16px, 0.6rem + 1.1vw, 24px);

  }
  

  & .swiper-pagination{
    display: flex;
    gap: 12px;
    position: absolute!important;
    width: max-content!important;
    bottom: 0;
  }
}


  // rewrite default styles 
.swiper-component-wrapper .swiper-pagination-bullet.margin-0{
    margin: 0!important;
  }