header.burger-show{
    position: relative;
    z-index: 11;
}


.header-backround{
    background-color: $card-bg;
    border-bottom-left-radius: clamp($frame-rad-16,2vw,$frame-rad-24);
    border-bottom-right-radius: clamp($frame-rad-16,2vw,$frame-rad-24);

    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: clamp(12px, -0.6rem + 5vw, 56px);
    padding-right: clamp(12px,  -0.6rem + 5vw, 56px);

    @include tablet{
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        background-color: transparent;
        border-radius: 0;
    }
}
//   clamp(min, current, max)
//   window 1440px / max font-size = 44px
//   1vw = 14.4px
//   44px / 14.4px = 3.05vw


.container.green-background{
    padding-left: 0;
    padding-right: 0;

    @include tablet{
      margin-top: clamp(12px, 2.3vw, 32px);
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: clamp(12px, -0.4rem + 4vw, 56px);
      padding-right: clamp(12px, -0.4rem + 4vw, 56px);
      background-color: $card-bg;
      border-radius: clamp($frame-rad-16,2vw,$frame-rad-24);
    }
}

.header-navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.nav-list{
    display: none;

    @include tablet{
        display: flex;
        gap: clamp(12px, -3.877rem + 9.64vw, 44px);
    }
   
}


.header-link-phone{
    display: none;

    @include tablet{
        display: inline-block;
    }
}

.burger-button{
    padding: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    outline: none;
    border: none;
    
    &-icon{
        width: clamp(32px, 0.37rem + 6.52vw, 56px);
        height: clamp(32px, 0.37rem + 6.52vw, 56px);
    }

    @include tablet{
        display: none;
    }
}

