.icon{
    fill:transparent;
    stroke: blue;
    transition: $transition;
    &:hover{
        stroke:red;
    }
}

.icon-use{
    fill: transparent;
    stroke: blue;
    transition: $transition;
    &:hover{
        stroke:red;
    }
}
//   clamp(min, current, max)
//   window 1440px / max font-size = 44px
//   1vw = 14.4px
//   44px / 14.4px = 3.05vw

